<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
          <h2><%=title%></h2>

                <table class="table table-striped">
                <thead>
                  <tr> <th>#</th> <th>Product</th> <th>Amount</th> <th>Subtotal</th> </tr>
                </thead>
                <tbody>

                  <% order.cart.forEach(function(item, index) { %>

                   <tr>
                     <th scope="row"> <%=index+1%> </th>
                     <td><%=item.productname%></td>
                     <td><%item.amount%></td>
                     <td>Rp. <span class="nominal"><%=item.subtotal%></span></td>
                   </tr>

                  <% }); %>

                </tbody>
                </table>

                <div class="row well clearfix">
                  <div class="col-xs-12 col-sm-3">
                    <div class="pull-left total_price"><p>Total price: </p><span>Rp.</span> <span class="order_nominal"><%=order.total_price%></span></div>

                  </div>
                </div>

                <fieldset>

                   <div class="form-group col-xs-12 col-sm-6">
                    <label for="name" class="control-label">Nama:</label>
                    <input type="text" class="form-control" name="name" value="<%=order.name%>" disabled>
                  </div>
                   <div class="form-group col-xs-12 col-sm-6">
                    <label for="email" class="control-label">Email:</label>
                    <input type="email" class="form-control" value="<%=order.email%>" disabled>
                  </div>
                   <div class="form-group col-xs-12 col-sm-6">
                    <label for="kota" class="control-label">Kota/Kabupaten:</label>
                    <input type="text" class="form-control" value="<%=order.city%>" disabled>
                  </div>
                   <div class="form-group col-xs-12 col-sm-6">
                    <label for="kodepos" class="control-label">Kodepos:</label>
                    <input type="text" class="form-control" value="<%=order.zipcode%>" disabled>
                  </div>
                   <div class="form-group col-xs-12 col-sm-6">
                    <label for="tipe_pembayaran" class="control-label">Tipe Pembayaran:</label>
                    <input type="text" class="form-control" value="<%=order.payment%>" disabled>
                  </div>
                  <div class="form-group col-xs-12 col-sm-6">
                    <label for="alamat" class="control-label">Alamat:</label>
                    <textarea class="form-control" name="address" disabled><%=order.address%></textarea>
                  </div>

                </fieldset>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <% include ../partials/scripts %>
</body>
</html>
